<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Librarymanagementadmin</display-name>
  <servlet>
    <servlet-name>MyHttpadmin</servlet-name>
    <servlet-class>Librarymanagementadmin.admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyHttpadmin</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
</web-app>